# Files and folders related to build/test tools
build
build-module
build-types
node_modules
/tests
/vendor
/tools

# Excluded files and folders based on `jsdoc.conf.json` exclusions
/src/js/_enqueues/vendor

# Webpack built files
/src/wp-includes/js/
*.min.js

# Themes
src/wp-content/themes/
